.card_skill{
    width: 8rem;
    height: 8.2rem;
    padding: 1rem;
    cursor: pointer;
    border-radius: 0.3rem;
    background-color: rgba(27, 194, 194, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}


.card_skill:hover{
    transform: scale(1.1);
}

.card_skill img{
    width: 4.5rem;
}
.img_skill{
    background-color: rgba(255, 255, 255,0.8);
    padding: 0.3rem;
}

@media screen and (max-width:600px){
    .card{
        text-align: left;
    }
}