.project-container{
    margin: auto;
    max-width: 1400px;
    padding: 5rem 0rem;
    min-height: 98.4rem;     
    background: linear-gradient(#032523,#064945);  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column  ;
}
.pro-card-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}

.main_exp2{
    margin-top: -3rem;
    color: white;
}
.port2{
    color: white;
    padding-bottom: 4rem;
}

@media screen and (max-width:600px){
    .port{
        text-align: center;
    }
}