.project-container{
    /* height: 100vh; */
    padding: 10rem 0rem;
    padding-bottom: 13rem;
    background: white;
    min-height: 98.4rem; 
   /* height: 100vh; */
    /* height:700px; */
    
    background: linear-gradient(#000,#00504a);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column  ;
}
.pro-card-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}

.main_exp2{
    margin-top: -3rem;
    color: white;
}
.port2{
    color: white;
    padding-bottom: 4rem;
}