.skills{
    margin: auto;
    max-width: 1400px;
    /* padding: 3rem; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-height: 68.4rem; */
    /* height: 100vh; */
    background-color: white !important;
    background: linear-gradient(#064945,#00504a);  
}
.main_exp3{
    color: white;
}

.main_skill{
    color: white !important;
    border-color: white !important;
}

.skill-cont{
   
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    align-items: center;
    justify-content: center;
}
.main_exp{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 3rem;
    cursor: pointer;
    border-radius: 3rem;  
    background-color: transparent;
    color:rgb(60, 90, 80) ;
    border: 1.5px solid rgb(60, 90, 80);
    font-weight: 500;
    font-size: 2rem;
}

.port{
    font-size: 5rem;
    font-weight: 500;
    padding-top: 2rem;
    
}
.sub-skill{
    /* background-color: aqua; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    text-align: left;
    width: 90%;
    /* padding-top: 0rem; */
}
.lineone_skill{
    width: 9rem;
    height: 2px;
    background-color: white;
    margin-bottom: 1.5rem;
}
.skill_left{
    flex: 1;
    padding-top: 5rem;
    padding-bottom: 12rem;
    padding-left: 2rem;
}

.skillcat{
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 500;
    font-family: 'Josefin Sans', sans-serif; 
}
.para_skill{
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.1rem;
    padding-top: 2rem;
    width: 70%;
    font-family: 'Josefin Sans', sans-serif;
}
.skill_campany{
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 3rem;
    font-size: 5.5rem;
}
.skill_right{
    /* background-color: red; */
    flex:1;
    margin-top: 4rem;
}

.sub-skillright{
    display: none;
    /* background-color: red; */
    position: absolute;
    top: 0;
    left: 50%;
    /* background-color: aqua; */
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.skill_buttons{
    display: flex;
    /* background-color: aqua; */
    align-items: center;
    justify-content: center;
    /*  */
}
.skill_sub_button{
    background-color: rgb(59, 139, 131);
    padding: 1rem;
    border-radius: 3rem;
    /* background-color: red; */
    display: flex;
    /* background-color: aqua; */
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.skill_buttons button{
   
    cursor: pointer;
    border-radius: 2rem;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    background-color: inherit;
    transition: all 0.1s ease-in ;
    border: none;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
}

.dev_but{
    background-color: #00504a !important;
    color: white !important;
}
.skill_div{
    padding: 3rem;
    gap:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
@media screen and (max-width:600px){
    .sub-skill{
        flex-direction: column-reverse;
    } 
    .skill_left  {
        display: none;
    }
    .skill_right{
        margin-top: 0;
    }
    .skill_sub_button{
        gap:0px;
    }
    .skill_div{
        padding-top: 2rem !important;
        padding-left:0px ;
        padding-right: 0px;
    }
    .skill_campany {
        font-size: 3.5rem;
    }
    .para_skill{
        width: 100%;
    }
}