.skills{
    padding: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 800px; */
    min-height: 68.4rem;
    /* height: 100%; */
    /* height: 100vh; */
    /* padding-bottom:10rem ; */
    max-height: 940rem;
    /* background-color: rgb(25, 23, 27); */
    background: linear-gradient(#00504a,#064945);  
}
.main_exp3{
    color: white;
}