/* @import url('https://fonts.cdnfonts.com/css/wanoquin-free-pu'); */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'WanoQuin-Thin Free PU', sans-serif; */
}
html{
  font-size: 10px;
}
@media screen and (max-width:1338px) {
  html{
    font-size: 9px;
    /* display: none; */
  }
}
@media screen and (max-width:1208px) {
  html{
    font-size: 8px;
    /* display: none; */
  }
}
@media screen and (max-width:943px){
  html{
    font-size:7px;
  }
}
@media screen and (max-width:799px){
  html{
    font-size:6px;
  }
}